*{outline: none;}

body {
	font-family: arial,helvetica,sans-serif;
	font-size: 13px;
	line-height: 1.5;
	margin: 0;
	padding: 0px;
	color: #333;
	text-align: center;
	background: #FFF none repeat left top;
}

a {	color: #0066DD;text-decoration: none;}
a:hover {text-decoration: underline; color: #444;}
img{border: none;}
img, object, embed {
	max-width: 100%;
}

h1,h2,h3,h4,h5 {margin: 10px 0; font-weight: normal; padding: 0; line-height: 1.2;}
h1,h2,h3 {color: #000;}
h1 {font-size: 20px;}
h2 {font-size: 18px;}
h3 {font-size: 16px;}
h4 {font-size: 14px; font-weight: bold;}
h5 {font-size: 13px;font-weight: bold;}
p {margin: 10px 0; font-weight: normal; padding: 0; }


input, textarea, select, optgroup, option {
	font-family: arial,helvetica,sans-serif;
	font-size: 13px;
	padding:2px;
}

pre {
	font-family: "Courier New";
	font-size: 12px;
	text-align: left;
}
.clear{clear: both; height: 1px;}
.hide_screen{display: none;}
.hide{display: none;}

.wrap{margin: 10px 5px;text-align: left;background-color: #fff; border-radius: 3px;}


.header{margin: 10px 0;height: 62px;}
.header h1{margin: 0 5%;line-height: 62px;}
.header h1.with_search{ width: 200px; max-width: 39%; float: left; }
.header h1 a{color: #fff; font-size: 32px;}
.header h1 a:hover{text-decoration: none; color: #eee;}
.header p{color: #999;}
.c1{width: 70%; float:left;}
.c2{width: 29%; float:right; }
.header .c1{ background-color: #0076BE; border-radius: 3px; color: #fff; height: 100%;line-height: 62px; overflow: hidden;}
.header .c2{text-align: center; height: 100%; overflow: hidden;}
.header .c2 .post_listing{width: 99%; height: 60px; padding: 0; line-height: 62px;}
#top_search_form{float: left; width: 400px; max-width: 50%;}
#top_search_form #q{width: 200px; max-width: 60%;}
#top_search_form #s{ max-width: 35%;padding-left: 2%;padding-right: 2%; overflow: hidden;}

.footer{border-top: solid 1px #eee; margin:20px 0 0; padding:10px 0 0; clear: both; color: #ccc;}
.footer a{ color: #ccc;}

.login_controls{text-align: right;}
.login_controls p,.login_controls div{ display: inline;}

.content_right,
.content_left,
.content_top,
.content_bottom{ clear: both; margin: 10px 0;}
.content_right{  }
.content_left{}




/* form inputs */
input[type="text"],
input[type="password"],
select,
textarea
{
	padding: 5px; 
	border: solid 1px #ccc; 
	width: 200px;
	max-width: 95%;
}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus{border-color: #999; }
textarea{width: 95%; height: 120px;}
input.long,
select.long,
textarea.long{width: 95%; max-width: 95%;}
.marker{color: red;}



.widget{border:solid 1px #ccc; border-radius:3px; margin-bottom: 10px; overflow: hidden;}
.widget ul{margin: 0 0 0 20px; padding: 0;}
.widget ul ul{margin: 3px 0 3px 5%; padding: 0;}
.widget ul li{ margin: 3px 0; padding: 0;}
.widget ul li a.active{font-weight: bold;  font-size: 110%;}

.widget_title{padding: 5px 10px; font-size: 16px; font-weight: normal; margin: 0; border-bottom: solid 1px #ccc; background-color: #f5f5f5;}
.widget_title a{}
.widget_body{ padding: 10px;}

.widget label{display: block; padding: 0; margin: 5px 0; font-weight: bold;}
.widget .inline_group input[type="text"],
.widget .inline_group input[type="password"],
input.short,select.short
.short{  width: 70px;max-width: 30%;}


/* category list on main page */
.content .widget {clear: both; margin-bottom: 20px;}
/*.content .widget .widget_title{padding:5px 0; background-color: transparent;  font-size: 20px; font-weight: normal; margin: 20px 0 5px; clear: both;}
.content .widget .widget_body{ padding:0; margin: 20px 0; clear: both;}
*/
.item_count{font-size: 11px; color: #999;}

.content .widget_locations ul,
.content .widget_categories ul{margin: 0; padding: 0; list-style: none;}
.content .widget_locations ul li,
.content .widget_categories ul li{float: left;width: 32%;margin: 10px 1.33% 10px 0; padding: 0;}
.content .widget_locations ul li a,
.content .widget_categories ul li a{font-size: 140%;}
.content .widget_locations ul li a:hover,
.content .widget_categories ul li a:hover{}
.content .widget_locations ul li .item_count,
.content .widget_categories ul li .item_count{}
.content .widget_locations ul ul,
.content .widget_categories ul ul{ }
.content .widget_locations ul ul li,
.content .widget_categories ul ul li{float: none; width: 100%;margin:3px 0;padding: 0;}
.content .widget_locations ul li li a,
.content .widget_categories ul li li a{font-size: 100%; margin:0; }
.content .widget_locations ul li li a:hover,
.content .widget_categories ul li li a:hover{}



.content .widget_listing{border: none;}
.content .widget_listing .widget_title{padding:0; background-color: transparent;  font-size: 20px; font-weight: normal; margin: 20px 0 5px; clear: both;border: none;}
.content .widget_listing .widget_body{ padding:0; margin: 20px 0; clear: both;}
.widget_listing h2{font-size: 16px;margin: 0 0 5px;}

.content .widget_listing .list_style_simple{border: solid 1px #ccc; border-radius: 3px;}
.content .widget_listing .list_style_simple li{padding: 5px 10px;}
.content .widget_listing .list_style_simple li:hover{background-color: #E0F4FF}

.narrow .widget_listing table{ border: none; margin:0; padding: 0;}
.narrow .widget_listing table th{ display: none;}
.narrow .widget_listing table td{ display: inline; border: none; padding: 0;}
.narrow .widget_listing table tr{ display: block; clear: both; padding:3px; margin: 0;}
.narrow .widget_listing table .thumb{ margin: 0 5px 5px 0;}
.narrow .widget_listing table h2,
.narrow .widget_listing table p{margin: 3px 0; padding: 0;}

.widget_listing .list_style_simple{ list-style: none; margin: 0; padding: 0;}
.widget_listing .list_style_simple li{ margin: 0; padding: 5px 0; border-bottom: solid 1px #eee; clear:both;}
.widget_listing .list_style_simple li:after{content: ""; display: table; clear: both;}
.widget_listing .list_style_simple li:hover{background-color: #E0F4FF;}
.widget_listing .list_style_simple p{font-size: 11px; margin: 5px 0;}
.widget_listing .list_style_simple .thumb{ float: left; margin: 0 5px 5px 0;}


/* table */
.grid{ border-collapse: collapse; width: 100%;  border:solid 1px #ccc; border-radius: 3px;}
.grid tr,.grid td,.grid th{ border-bottom: solid 1px #ddd; padding: 5px; vertical-align: top;  }
.grid th{text-align: left; padding: 10px 5px; font-weight: bold; background-color: #f5f5f5;}
.grid tr.r1,.grid tr.r1 td{ background-color: #fafafa;}
.grid tr:hover,.grid tr:hover td{background-color: #E0F4FF !important;}

.report tr,.report td,.report th{ border: solid 1px #ccc; text-align: left;  }




/* messages */
/* http://css.dzone.com/news/css-message-boxes-different-me */
.msg-error,.msg-success,.msg-info { border: 1px solid; margin: 10px 0px; padding: 10px; background-repeat: no-repeat; background-position: 10px center; border-radius: 3px;}
.msg-error p,.msg-success p,.msg-info p{ margin: 0; padding: 0; }
.msg-success { color: #4F8A10; background-color: #DFF2BF;}
.msg-error { color: #D8000C; background-color: #FFBABA;}
.msg-info { color: #00529B; background-color: #BDE5F8;}
.msg-error a, .msg-success a, .msg-info a { color: #000; text-decoration: underline;}
.msg-success-line {	color: #4F8A10; }
.msg-error-line, .marker { color: #D8000C; }



/* Breadcrumb */
#breadcrumb{margin:0;padding:10px 0;}
#breadcrumb li{list-style-type:none;display: inline;}
#breadcrumb a{text-decoration: none;padding: 5px;}
.home{ border:none; margin: 8px 0px;}
#breadcrumb a:hover{ }


.button.post_listing{font-size: 16px; padding: 10px 20px;}


/* other contact */
.othercontactok{}
.othercontactok_not{color: #f00;}


/* language */
.language{position: relative; display: inline; }
.language a{margin:0 5px; white-space: nowrap;}
.language a.sel{display: inline; }
.language .language_other{
	display: none; 
	position: absolute; 
	left: 0;
	top: 20px;
	background-color: #fff; 
	text-align: left; 
	border:solid 1px #ccc; 
	padding: 5px;
	width: auto;
	overflow: hidden;
	z-index: 999;
}
.language .language_other a{display: block; width: 120px;}
.language:hover .language_other,
.language_hover .language_other{display: block;}
/*.language:hover{width: 150px;}
.language:hover a{width: 150px;display: block; position: absolute;left:-150px;}
.language:hover a.sel{display: inline; position: relative;left:0;}*/

.top{ margin: 5px 0; padding: 5px 0;}

/* listing */
.listing .thumb{float: left; margin: 0 10px 0 0;}
.listing h2{margin: 0 0 5px 0;}
.listing p{margin: 5px 0;}
.thumb img{padding: 3px; background-color: #fff; border: solid 1px #ccc; box-shadow: 0 0 3px  rgba(30, 30, 30, 0.2);}


/* post_details */
.item_details{border:solid 1px #ccc; border-radius: 3px; padding: 10px 20px;}
.post_details{ background-color: #E0F4FF;border-radius: 3px;  padding: 10px 20px;}
.contact p{margin: 10px 0;}
.contact .cancel{margin-left: 20px;}
.meta,
.meta a,
.item_prev,
.item_next{ color:#999; }
#contact_form{background-color: #fff; border: solid 1px #ccc; padding: 0; border-radius: 3px; text-align: left;}
#contact_form h3,
#contact_form p{padding:3px 10px;}

#itemMap{height: 250px; display: none; border:solid 1px #ccc;}


.small_text{font-size: 80%; color: #999;}
.extra_text{font-style: italic; color: #999;}
.small_text a,.extra_text a{color: #999;}


/* search */
.search_desc{ line-height: 2.5em; margin: 5px 0;}
.search_filter{white-space: nowrap; border: solid 1px #ccc; padding: 5px; background-color: #f5f5f5; border-radius: 3px;}
.search_filter:hover{background-color: #E0F4FF;}
.search_filter .button{line-height: 1.2; border:none;background-color: #999;color: #fff; margin-left: 5px; vertical-align: auto;}



/*  gallery */
.gallery{ width: 73%; float: left; margin-right: 2%; text-align: center;}
.gallery .med a{display: block; text-align: center; max-height: 300px; line-height: 1; overflow: hidden; border: solid 3px #fff; box-shadow: 0 0 3px #ccc; margin: 0; padding: 0;}
.gallery .med a:hover{border-color: #ccc;}
.gallery img{width: 100%; height: auto;display: block;border:none;}
.gallery .thumb a{width: 19%;margin-right: 1%;display: inline-block;}
.gallery .thumb img{border: none;padding:0;}





/* on page video iframe from video_url */
.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
}
.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

/* dealer box */
.dealer_box{margin-top: 20px; border-top:solid 1px #ccc;}

/* custom fields */
.post_custom_fields{margin: 10px 0;padding:0; list-style: none; display: inline;}
.post_custom_fields li{width: 23%; min-width: 150px; overflow: hidden; float: left; margin: 0 1% 1% 0; padding: 5px 0; background-color: #eaeaea; border-radius: 3px; height: 55px;}
.post_custom_fields li span{display: block; margin: 0 10px; font-size: 120%; font-weight: bold; line-height: 1.2;}
.post_custom_fields li span a{ color: #000; border-bottom: solid 1px #999;}
.post_custom_fields li span a:hover{text-decoration: none;border-bottom: solid 1px #000;}
.post_custom_fields li span.small_font,
.post_custom_fields li span.long_text{font-size: 11px;}
.post_custom_fields .label{ color: #999; font-size: 11px; font-weight: normal;}
.post_custom_fields .type_url{ font-size: 13px; font-weight: normal;}
.post_custom_fields .post_custom_group{display: block;}
.post_custom_fields h4{margin: 0; padding: 10px 0 0;}
.post_custom_fields_big{margin:0; padding: 0; list-style: none; clear: both;}
.post_custom_fields_big li{margin: 20px 0; padding: 0;}
.post_custom_fields_big .label{ display: block; border-bottom: solid 1px #ccc;  font-size: 140%; padding: 5px 0; margin: 0 0 10px;}
.post_custom_fields_big span.custom_field_selected,
.post_custom_fields_big span.custom_field{display: inline-block; width: 20%; min-width: 150px; margin: 0 20px 20px 0; vertical-align: top; text-decoration: none;}
.post_custom_fields_big span.custom_field{color:#ccc;text-decoration: line-through;}


.description{ clear: left;}

/* ad action links */
.action_links{text-align: right;}
.action_links .addthis_toolbox{display: inline;}

/* posting styles */
.adfield_radio,.adfield_checkbox{}
.adfield_radio label,.adfield_checkbox label{display: block;}


/* paginator */
.paginator{margin:20px 0px;}
.paginator a,
.paginator span{
	padding: 5px 10px;
	display: inline-block;
	background: #eee url('../images/button.png') repeat-x bottom;
	/*color: #fff; text-shadow: 0 -1px 0 #666;*/
	color: #000; text-shadow: 1px 1px #fff;
	cursor: pointer;
	font-weight: normal;
	text-decoration: none;
	overflow: visible;
	vertical-align: baseline;
	border: solid 1px #999;
	border: solid 1px rgba(0,0,0,0.2);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.paginator a:hover,
.paginator span,
.paginator a.sel{background-color: #fff;background-image: none;text-decoration: none;}









/* prev next links */
.item_prev_next{ clear: both;}
.item_prev{ width: 48%; float: left; text-align: left; min-width: 10px;}
.item_next{width: 48%; float: right; text-align: right; min-width: 10px;}

.c2 .item_prev_next_simple{text-align: right;}

/* user page */
.user_logo{float: left; margin: 0 10px 10px 0;}

/* page not found page */
.page_not_found{text-align: center; margin: 40px 0;}


/* all categories and location page */
.all_categories,
.all_locations{font-size: 20px; margin:20px 0; }
.all_categories ul,
.all_locations ul{list-style: none;margin:0; padding: 0;}
.all_categories ul li,
.all_locations ul li{ margin: 10px 0 40px; display: block; padding: 0 0 20px;}
.all_categories ul li ul,
.all_locations ul li ul{font-size: 12px;margin-top: 20px;}
.all_categories ul li ul li,
.all_locations ul li ul li{ display: inline; margin: 0; padding: 0;}
.all_categories ul li ul li a,
.all_locations ul li ul li a{ display: inline-block; width: 23%; max-width: 150px; min-width: 100px; margin: 0 10px 5px 0; padding: 0; vertical-align: top; zoom: 1; *display:inline;_height:50px;}
.all_categories ul li ul li ul,
.all_locations ul li ul li ul{ font-size: 10px; margin: 0 0 0 20px;}
.all_categories ul li ul li ul li,
.all_locations ul li ul li ul li{}
.all_categories ul li ul li ul li a,
.all_locations ul li ul li ul li a{display: inline; width: auto;}

/* gallery and carousel */
.thumbs{}
.thumbs_single{white-space: nowrap; overflow: hidden;}
.thumbs a{ 
	display: inline-block; 
	vertical-align: top; 
	padding: 0; 
	margin: 0 10px 10px 0; 
	max-width: 100%;
	position: relative;
	zoom: 1; 
	*display:inline;
	_height:50px;
}
.thumbs a:hover{text-decoration: none;}
.thumbs a span{
	display: block;
	overflow: hidden;
	height: 13px; 
	line-height: 1;
	white-space: nowrap; /* Don't forget this one */
	text-overflow: ellipsis;
}
.thumbs a span.price,
.thumbs a span.item_count{
	position: absolute; 
	bottom: 20px; 
	background-color: #666; 
	background-color: rgba(0,0,0,0.6); 
	color: #fff; 
	padding: 2px 5px; 
	display: inline;
}


/*				buttons (leave last)
************************************************************************************/
.button,
input[type="submit"],
input[type="button"]{
	padding: 5px 10px;
	display: inline-block;
	background: #eee url('../images/button.png') repeat-x bottom;
	/*color: #fff; text-shadow: 0 -1px 0 #666;*/
	color: #000; text-shadow: 1px 1px #fff;
	cursor: pointer;
	font-weight: normal;
	text-decoration: none;
	overflow: visible;
	vertical-align: baseline;
	border: solid 1px #999;
	border: solid 1px rgba(0,0,0,0.2);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
input[type="submit"]:hover,
input[type="button"]:hover,
.button:hover {
	background-image: none;
	text-decoration: none;
}
input[type="submit"]:active,
input[type="button"]:active,
.button:active {
	background-position: 0 0;
	/*position: relative;
	top: 1px;
	padding: 6px 10px 4px;*/
}
.button.primary { background-color: #E07314; color: #fff; text-shadow: 0 -1px 0 #666;}
.button.red { background-color: #e50000; color: #fff; text-shadow: 0 -1px 0 #666;}
.button.purple { background-color: #9400bf; color: #fff; text-shadow: 0 -1px 0 #666;}
.button.green { background-color: #58aa00; color: #fff; text-shadow: 0 -1px 0 #666;}
.button.orange { background-color: #ff9c00; color: #fff; text-shadow: 0 -1px 0 #666;}
.button.blue { background-color: #2c6da0; color: #fff; text-shadow: 0 -1px 0 #666;}
.button.black { background-color: #333; color: #fff; text-shadow: 0 -1px 0 #666;}
.button.white { background-color: #fff; color: #000; text-shadow: 1px 1px #fff; }
.button.small { font-size: 75%; padding: 3px 7px; }
.button.small:active { /*padding: 4px 7px 2px; background-position: 0 top;*/ }
.button.large { font-size: 125%; padding: 7px 12px; }
.button.large:active { /*padding: 8px 12px 6px; background-position: 0 top;*/ }



/* labels displaying state */
.label_text{
	padding: 1px 3px;
	display: inline-block;
	background-color: #777 ;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	overflow: visible;
	vertical-align: baseline;
	border: solid 1px #999;
	border: solid 1px rgba(0,0,0,0.2);
	text-transform: none;
	font-family: arial,sans-serif;
	text-shadow: 0 -1px 0 #666;
	border-radius: 10px;
}

.label_text.red { background-color: #e50000; }
.label_text.purple { background-color: #9400bf; }
.label_text.green { background-color: #58aa00; }
.label_text.orange { background-color: #ff9c00; }
.label_text.blue { background-color: #2c6da0; }
.label_text.dark { background-color: #333; }
.label_text.white { background-color: #fff; color: #000; }
.label_text.small { font-size: 9px; line-height: 9px;  }
.label_text.large { font-size: 125%; padding: 2px 5px; }



/* desktop device styles */
body{background-color: #fff;}
.wrap{width: 960px; margin: 10px auto;padding: 2%; max-width: 94%;}
.content{ min-height: 300px;}
.content_right{ float: right;width: 230px; overflow: hidden; margin: 0; clear: none; }
.content_left{ float: left;width: 230px;overflow: hidden; margin: 0; clear: none;}
.has_left_sidebar { width: 715px;float: right;}
.has_right_sidebar {width: 715px;float: left;}
.has_left_right_sidebar {width: 470px;margin-left: 15px;float: left;}
/* widget areas */
.content_top,
.content_bottom,
.inner_top,
.inner_bottom{ clear: both; margin: 10px 0;}
.inner_top{margin:0 0 10px;}
/* widget areas */
.wide .four_up{float: left;width: 24%;margin: 0 0 1% 5px;}
.wide .three_up{float: left;width: 32%;margin: 0 0 1% 5px;}
.wide .two_up{float: left;width: 49%;margin: 0 0 1% 5px;}
.wide .first{margin-left: 0; clear: left;}
.wide .widget{clear:none;}
/* post_details */
.post_details{overflow: hidden;}
.contact_form .table.grid{width: 300px;}
.price{ font-weight: bold;}
/* checkboxes when posting ad */
.content .adfield_radio label,.content .adfield_checkbox label{width: 30%;float: left;}

/* max width of 960px pixels. netbook, tablet */
@media screen and (max-width: 960px) {
	.wrap{width: 96%; padding: 1%; max-width: 96%;}
	.content_right,
	.content_left{ width: auto; float: none; clear: both; background-color: transparent; margin: 5px 0;}	
	.content_right .widget,
	.content_left .widget{ width: 48%; float: left; margin: 0 1% 5px 0;}
	.has_left_sidebar,
	.has_right_sidebar,
	.has_left_right_sidebar {width: auto;margin-left: 0;float: none;}
	.content{ min-height: 0px; clear: both;}

	.content_right,
	.content_left{ 
		-moz-column-count: 3;
		-moz-column-gap: 10px;
		-moz-column-fill: auto;
		-webkit-column-count: 3;
		-webkit-column-gap: 10px;
		-webkit-column-fill: auto;
		column-count: 3;
		column-gap: 10px;
		column-fill: auto;
		width: auto;
		display: block;
	}

	.content_right .widget,
	.content_left .widget { 
		-moz-column-break-inside: avoid; 
		-webkit-column-break-inside: avoid; 
		column-break-inside: avoid; 
		display: inline-block; 
		width: 98%; 
		margin: 0 1% 5px 0;
		float: none;
	}
	.header h1 img{max-width: none;}
	.post_custom_fields li{min-width: 100px;}
}

/* max width of 600px. small netbook, tablet */
@media screen and (max-width: 600px) {
	.wide .four_up,
	.wide .three_up{ width: 48%; float: left; margin: 0 1% 5px 0; clear: none;}

	/* display all widgets in 2 columns */
	/*.content_right,
	.content_left,*/
	.content_top,
	.content_bottom{display: inline; clear: none;}
	/* convert grid table to inline */
	.content table.list_style_full{ border: none; margin:0; padding: 0;}
	.content table.list_style_full th{ display: none;}
	.content table.list_style_full td{ display: inline; border: none; padding: 0; margin: 0 5px 0 0;}
	.content table.list_style_full tr{ display: block; clear: both; padding:3px; margin: 0;}
	.content table.list_style_full .thumb{  margin: 0 5px 5px 0;}
	.content table.list_style_full h2,
	.content table.list_style_full p{margin: 3px 0; padding: 0;}
	.price{ font-weight: bold; font-size: 120%;}
	.header h1 a{font-size: 160%;}	
	.header{height: auto;}
	.header h1,.header h1 a{display: block; line-height: 1; margin:0;padding:0;}
	.header .c1,
	.header .c2,
	.c1,
	.c2{width: auto; float:none; text-align: center; max-width: 100%; margin: 0 0 5px 0;}
	.c1,
	.c2{ text-align: left;}
	.content_right,
	.content_left{ 
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}	
	.header h1 img{max-width: 100%;}
	.post_custom_fields li{width:47%;}
	.post_custom_fields li span{font-size: 100%;}
	.gallery {float: none; width: auto;margin: 10px -20px;}
}



/* max width of 450px pixels. mobile phone */
@media screen and (max-width: 450px) {
	/* non floating headers */
	.header{height: auto;}
	.header h1.with_search,
	#top_search_form,
	.header .c1,
	.header .c2{width: auto; float:none; text-align: center; max-width: 100%;}
	.header h1.with_search{border-bottom: solid 1px #fff;}
	.header h1,.header h1 a{display: block; line-height: 1; margin:0;padding:0;}
	.header h1 a img{ height: 50px;}
	.header .c2{margin-top: 5px;}
	/* display everything in one column */
	.content_right .widget,.content_left .widget{float: none; width: auto; margin:0 0 5px;}
	.content_right,
	.content_bottom,
	.content_top,
	.content_bottom{float: none;width: auto;clear: both;}
	.wide .four_up,
	.wide .three_up,
	.wide .two_up,
	.wide .first,
	.content .widget_locations ul li,
	.content .widget_categories ul li,
	.post_details{ float: none;width: auto;clear: both; margin: 3% 0;}
	/* post_details */
	.contact_form .table.grid{width: 100%;}
	/* checkboxes when posting ad */
	.content .adfield_radio label,
	.content .adfield_checkbox label{width: 90%;float: none;}

	.content_right,
	.content_left{ 
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
	.content_right .widget,
	.content_left .widget { 
		display: block; 
	}


}


/* =Print
----------------------------------------------- */

@media print {
	/* print styles */
	body {background: none !important; color: #000; font-size: 9pt;}
	a {color: #000; text-decoration: none;}
	h1,h2,h3,h4,h5,p { }
	h1 {font-size: 140%;}
	h2 {font-size: 120%;}
	h3 {font-size: 110%;}
	h4,h5 {font-weight: bold;}
	.wrap {clear: both !important; display: block !important; float: none !important; width: 98%; position: relative !important;}
	.content,
	.has_left_sidebar,
	.has_right_sidebar,
	.has_left_right_sidebar,
	.header .c1{width: auto; float: none; margin: 0; min-height: 0;}
	.header{border-bottom: solid 1px #999; padding: 3px 0;}
	/* hide not important info */
	.header .c2,
	.action_links,
	#contact_form,
	.show_cotact_form,
	.related_ads,
	.label_text,
	.view_by_user,
	.language,
	.content_right,
	.content_bottom,
	.content_top,
	.content_left,
	.item_prev,
	.item_next,
	.msg-info,
	.msg-error,
	.msg-error-line,
	.msg-success,
	.msg-success-line,
	table.report,
	.select_theme_bar{display: none;}
	/* display print only areas */
	.hide_screen{display: block;}
	/* location and category list */
	.content .widget_locations ul li,
	.content .widget_categories ul li{float: left;width: 32%;margin: 0 1.33% 20px 0; padding: 0;}
	/* table */
	.grid{border:solid 1px #999;}
	.grid tr,.grid td,.grid th{border:solid 1px #999; background-color: transparent; }
	.post_details{border-color: #999;}
	.footer{margin:0; padding: 3px 0; border-top: solid 1px #999;}
	.footer,
	.footer a{color: #999;font-size: 9pt;}


}


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
#cboxContent{margin-top:40px;background:#fff;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{border:1px solid #000; background:#fff;}
#cboxTitle,#cboxCurrent{position:absolute; top:-30px; color:#ccc;text-shadow: 1px 1px 1px #000;}
#cboxTitle{left:0;}
#cboxCurrent{right:30px;}
#cboxLoadingGraphic{background:url(../../../../../public/images/colorbox/loading.gif) no-repeat center center; opacity: 0.7; border-radius: 5px; overlay:hidden;}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, 
#cboxNext, 
#cboxSlideshow, 
#cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; 
			font-family: Arial,Baskerville,monospace; font-size: 28px; color: #fff; 
			opacity: 0.7;filter: alpha(opacity=70); 
			text-shadow: 1px 1px 1px #000;
}
#cboxPrevious:hover, #cboxNext:hover, #cboxSlideshow:hover, #cboxClose:hover,
#cboxPrevious:focus, #cboxNext:focus, #cboxSlideshow:focus, #cboxClose:focus {background-color:rgba(0,0,0,0.3); opacity: 1; filter: alpha(opacity=100);}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

#cboxSlideshow{position:absolute; top:-30px; right:90px; color:#fff;font-size: 16px;}
#cboxPrevious,#cboxNext{position:fixed; top:0px;  margin-top:0px; width:50px; height:100%;}
#cboxPrevious{left:0px;}
#cboxNext{right:0px;}
#cboxClose{position:absolute; display:block; height:40px; line-height: 40px; top:-40px; width: 100%; text-align: right;right: 0;}
.cboxModal{overflow: hidden;}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 450px) {
	/*mobile*/
	#cboxTitle,
	#cboxCurrent,
	#cboxClose,
	#cboxSlideshow{position:fixed; top:0; text-shadow: 1px 1px 1px #000;background-color:rgba(0,0,0,0.3);opacity: 1; filter: alpha(opacity=100);}
	#cboxTitle,#cboxCurrent{padding:2px 5px;  color:#fff;}
	#cboxCurrent{right: 41px;}
	#cboxClose	{width: 40px; text-align: center; }
	#cboxContent{margin-top: 0;}
	#cboxPrevious,#cboxNext{width: 40px;}
}
@media all and (max-width: 960px) {
	.cboxModal{overflow: auto;}
}
/*    Colorbox END    */


/* 
	Dropzone styles 
*/
.dropzone,.dropzone * { box-sizing: border-box}
.dropzone { position: relative}
.dropzone .dz-preview { position: relative; display: inline-block; width: 120px; margin: 0.5em}
.dropzone .dz-preview .dz-progress { display: block; height: 15px; border: 1px solid #aaa}
.dropzone .dz-preview .dz-progress .dz-upload { display: block; height: 100%; width: 0; background: green}
.dropzone .dz-preview .dz-error-message { color: red; display: none}
.dropzone .dz-preview.dz-error .dz-error-message,
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone .dz-preview.dz-success .dz-success-mark { display: block}
.dropzone .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark { position: absolute; display: none; width: 54px; height: 58px; left: 50%; margin-left: -27px; top: 50%; margin-top: -29px}

/* custom styles */
.dropzone .dz-message-upload,.dropzone .dz-preview{width: 90px; height: 90px;max-width:40%;border: solid 1px #999;vertical-align: top; margin: 10px; }
.dropzone .dz-message-upload{display: inline-block; font-size: 80px; line-height: 1; text-align: center; text-decoration: none; cursor: pointer; font-weight: 100;vertical-align: top;}
.dropzone .dz-message-upload:hover{text-decoration: none; background-color: white;}
.dropzone .dz-preview .dz-image img{width: 90px; height: 90px; min-width: 100%;min-height: 100%;object-fit: cover;}
.dropzone .dz-preview .dz-image{max-height: 100%; overflow: hidden;}
.dropzone .dz-preview .dz-progress{position: absolute;top: 45%; border-radius: 5px; height: 10px; width: 80%; left: 10%; background-color: white;border: solid 1px #999; padding:1px;}
.dropzone .dz-preview .dz-progress .dz-upload {border-radius: 5px;background-color: #999; }
.dropzone .dz-preview.dz-complete .dz-progress{display: none;}
.dropzone .dz-details{display: none;}
.dropzone .dz-remove{position: absolute;right: -5px; top:-5px; width: 20px; height: 20px; border-radius: 50%; font-size: 16px; line-height: 1;text-align: center;background-color: red;color: white;text-decoration: none;box-shadow: 0 0 3px black; border: solid 2px white; }
.dropzone .dz-remove:hover{text-decoration: none;border: solid 2px red;}
.dropzone .dz-preview.dz-success .dz-success-mark {display: none;}
.dropzone.dz-max-files-reached .dz-message{display: none;}